<ion-view view-title="Buildings" ng-controller="buildingsController">
	<ion-content>
		<h4>Which building you are?</h4>
		<ion-list>
			<ion-item ng-repeat="(key, building) in buildings" ng-click="select(key, building)" class="item-icon-right">
				{{building.name}}
				<i class="icon ion-checkmark-circled" ng-show="key == selectedKey"></i>
			</ion-item>
			<div class="card" ng-show="!buildings">
				<div class="item item-text-wrap">
					No buildings available.
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>